# Reference list of validators provided by RMC
[validators]
59JoZqoEpeTpPywgnDKEbg4QZqaDKMah9yv1Hfdrb2sfLQ6q1RzL V1
59JvtG5AJqhMppvGDg83z2LbgjAmJ1AfNrQopvSQBE39KG9eS7dc V2
59Mi285L7qHVD4ie5McixDT4gFDreNvAekcjfiy7GfSpK6qGe3aD V3
